body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation ul li {
    margin: 5px;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #e0e0e0;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.cv-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cv-download:hover {
    background-color: #45a049;
}

.description-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.description-box p {
    margin: 0;
    color: #333;
    line-height: 1.6;
}